*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Universal padding */
header,
footer,
.intro,
.info,
.quote,
.sign-up {
    padding: 0 10%;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 0.5em;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5%;
    white-space: nowrap;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    padding: 4em 10%;
}

.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.intro p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

.intro figure {
    margin: 0;
}

figcaption {
    color: #E5E7EB;
}

.intro-left {
    display: flex;
    flex-direction: column;
}

.info-title {
    text-align: center;
}

.subblocks {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.subblock {
    height: 250px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.subblock img {
    border: 4px solid rgb(86, 136, 243);
    border-radius: 16px;
    height: 150px;
    width: 150px;
}


.quote {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 32px 30%;
}

.quote blockquote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

.quote p {
    align-self: flex-end;
    font-weight: 900;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 10%;
    margin: 4em 20%;
    border-radius: 10px;
    color: #F9FAF8;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    width: 10em;
    height: 2.5em;
    font-size: 18px;
    font-weight: 700;
}

.sign-up button {
    border: 2px solid white;
    align-self: center;
}

.sign-up h1,
.sign-up p {
    margin: 8px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 2em 0;
}